= form_for @search, :url => action_url, :html => {:method => :get, :class => 'well form-horizontal'} do |f|
  %p
    = f.label :up_between, "Поиск по дате"
    = f.text_field :up_between, :class => "datepicker"
  %button.btn{:type => "submit"} Найти