%h1 Информация пользователя

%hr

-if @admin
  .well.form-horizontal
    %fieldset
      .control-group
        %label.control-label
          Email
        .controls
          %span.input-xlarge.uneditable-input= @admin.email
      .control-group
        %label.control-label
          Admin name
        .controls
          %span.input-xlarge.uneditable-input= @admin.name
      .form-actions
        = link_to admin_admins_path, :class => 'btn btn-primary' do
          %i.icon-circle-arrow-left
          Назад
        = link_to edit_admin_admin_path, :class => 'btn btn-warning' do
          %i.icon-pencil
          Редактировать
