%ul.nav.nav-list
  %li.nav-header
    %h3 List Offices
  - @rooms.each do |r|
    %li
      %a{:href => "#"} Номер офиса №#{r.office}
      %pre
        Ответственный за офис:
        #{link_to "#{r.user_id}"}