/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
<<<<<<< HEAD
 *= require_tree ../../../vendor/assets/stylesheets/
  */

html, body { height: 100%; }

footer {
    height:44px;
    line-height:44px;
    border-top: 1px solid #eee;
    color: white;
    background-color: black;
    text-align: center;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -45px;
}

.push { height: 63px; }

.wrapper > .container-fluid {
    padding-top: 60px;
}

.pretty th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
}
.pretty th .asc {
    background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
    background-image: url(/images/down_arrow.gif);
}

body {
    margin-top: 40px;
    #text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
    width: 900px;
    margin: 0 auto;
}
