#schema-wrapper {
  margin-right:20px;
  float: left;
  width: 410px;
  height: 430px; }

.room, .room-schema {
  position: relative;
  width: 410px;
  height: 350px;
  border: 1px solid black;
  padding: 0;
  margin: 0 auto; }

.room {
  float: left;
  margin: 0; }

#trash {
  background-size: 50px 50px;
  background-color: #EE5F5B;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  bottom: 0;
  padding: 0;
  margin: 0;
  float: left;
  clear:both;
  width: 410px;
  height: 70px;
  border: 1px solid red; }

#desktops {
  float: left;
  width: 170px;
  /*height: 450px;*/
  position: relative;
  text-align: center; }

.desktop, .desktop-fix {
  display:inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  background: url("server-icon.png");
  z-index:22; }
.popover {
    z-index: 12060 !important;
}
.workplace, .workplace-fix {
  position: absolute;
  display: inline-block;
  text-align: center;
  z-index: 10; }

.office-device {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px; }

.line {
  position: absolute;
  background: url("line-table.png") transparent; }

.horizontation {
  width: 70px;
    height: 40px;
  line-height: 40px; }

.vertication {
  width: 40px;
  height: 70px;
  line-height: 70px; }

.angl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: url("angle-table.png") transparent; }

.nw {
  background-position: 0px 0px; }

.ne {
  background-position: -70px 0px; }

.sw {
  background-position: 0px -70px; }

.se {
  background-position: -70px -70px; }

.d-printer {
  background: url("printer-icon.png") transparent; }
.d-router {
  background: url("router-icon.png") transparent; }
.d-switch {
  background: url("switch-icon.png") transparent; }
.d-server {
  background: url("servers-icon.png") transparent; }

.table-angle-space {
  width: 40px;
  height: 40px;
  background: transparent; }

.new-table {
  left: 125px;
  top: 125px; }
