.vac_edit, .vac_approve, .vac_remove {
    background-color: black;
    color: white;
    border-radius: 5px;
    content: "*";
    float: right;
    height: 10px;
    line-height: 6px;
    cursor: pointer;
    padding: 1px;
    font-weight: bold;
    font-size: 13px;
}

.vac_remove:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}