<p>Здравствуйте <%= @resource.full_name %>!</p>

<p>Вы можете изменить свой пароль перейдя по ссылке:</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не запрашивали интрукцию по восстановлению пароля то просто проигнорируйте данное письмо</p>
